NFC_Attacks_Mobile_Phone.aux
NFC_Attacks_Mobile_Phone.bbl
NFC_Attacks_Mobile_Phone.blg
NFC_Attacks_Mobile_Phone.fdb_latexmk
NFC_Attacks_Mobile_Phone.log
NFC_Attacks_Mobile_Phone.out
NFC_Attacks_Mobile_Phone.synctex.gz